body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
  }
  
  label {
    font-size: 1.2em;
    margin-right: 10px;
  }
  
  input {
    padding: 8px;
    font-size: 1em;
    cursor: pointer;
  
  }
  